<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
                        http://www.springframework.org/schema/tx     
                        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
                        http://www.springframework.org/schema/security 
                        http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- 这里定义的messageSource对象供spring security 框架输出异常信息 -->
	<b:bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<b:property name="basename" value="classpath:messages_zh_CN" />
	</b:bean>

	<b:bean id="customUserDetailsService" class="com.phonelocation.service.CustomUserDetailsService" />


	<!-- 对以下不使用安全验证 -->
	<http pattern="/**/*.jpg" security="none" />
	<http pattern="/**/*.png" security="none" />
	<http pattern="/**/*.gif" security="none" />
	<http pattern="/**/*.ico" security="none" />
	<http pattern="/**/*.css" security="none" />
	<http pattern="/**/*.js" security="none" />
	<http pattern="/index.jsp" security="none" />
	<http pattern="/login.jsp" security="none" />
	<http pattern="/about.jsp" security="none" />
	<http pattern="/changelog.jsp" security="none" />
	<http pattern="/register.jsp" security="none" />
	<http pattern="/register.do" security="none" />
	<http pattern="/captcha-image" security="none" />
	<http pattern="/phone" security="none" />
	<http pattern="/auth" security="none" />

	<!-- 开启默认的拦截器 -->
	<http auto-config='true' access-denied-page="/403.jsp">

		<!-- 允许访问的uri -->
		<intercept-url pattern="/**" access="ROLE_USER" />

		<!-- 登陆页面配置 -->
		<form-login login-page="/login.jsp" default-target-url="/index.jsp"
			authentication-failure-url="/login.jsp?error=true" />

	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">
			<password-encoder hash="plaintext">
			</password-encoder>
		</authentication-provider>
	</authentication-manager>


	<!-- <authentication-manager> -->
	<!-- <authentication-provider> -->
	<!-- <jdbc-user-service data-source-ref="dataSource" /> -->
	<!-- </authentication-provider> -->
	<!-- </authentication-manager> -->

</b:beans>